#about{
	width:calc(350px);
	right:150px;
	position:fixed;
	border-right:2px solid #3C4586;
	top:189px;
	font-size:18px;
	height: calc(100vh - 190px);
}
#about img{
	width:100%;
	border-bottom: 2px solid #3C4586;
	border-top: 1px solid #3C4586;
}
#about p{
	padding:10px;
}
.about-mobile-trigger{
	position: fixed;
	display: none;
	top:15px;
	font-size:18px;
	right:15px;
}
#close-about{
	display:none;
}

@media(max-width: 768px){
	.about-mobile-trigger{
		display: block;
		z-index: 99;

	}
	#close-about{
		position:fixed;
		display: block;
		top:70px;
		transform:scaleX(1.5);
		right:20px;
	}
	#about{
		background:#F2F0E9;
		position: fixed;
		top:50px;
		left:0;
		width:calc(100vw - 80px);
		height:100vh;
		padding:40px;
	}
	#about img{
		border:2px solid #3C4586;
	}
	#about{
		display: none;
	}

	#about.open{
		display: block;
	}
	
}