#main-header{


	font-size: 144px;
	margin:0;
	border-bottom:2px solid #3C4586;
	padding-left:15px;
/*	text-shadow: 5px 5px 5px #f7512880;*/
	transition:0.5s;
	cursor: pointer;
}
#main-header a{
	font-size: 144px;
	color: #3C4586;
}
header > a{
	position: fixed;
	top: 15px;
	font-size:36px;
	color: #3C4586;
	z-index: 99;
	right: 15px;
}
#main-header:hover{

/*	text-shadow: 1px 1px 5px #f7512880;*/
}

@media(max-width: 768px){
	#main-header a{
	font-size: 40px;
	}
	#main-header{
		font-size:40px;
		padding-left:10px;
		position: fixed;
		background: #F2F0E9;
		width:100vw;
		z-index: 9;
		top:0;
		left:0;
	}
}